<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <add name="test" connectionString="server=192.168.1.10;uid=sa;pwd=111111;database=Test;" providerName="System.Data.SqlClient"/>
    <add name="Trading" connectionString="server=192.168.1.10;uid=sa;pwd=111111;database=Trading;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>